body {
    overfloy:hidden !important;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.mobile-project-navbar>li>a {
    color:white;
    font-size: 30px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.mobile-project-navbar {
    margin-top: 50px;
}
